@page 
@model BooksPlace.Pages.Banned.BannedUserModel

    <div class="BannUser-Container">
        
        <label>You are banned from using this application!</label>

        <span class="BannUser-Bann-Info">         
            Bann will last until: 
            <span class="BannUser-Bann-Time">@Model.DateTime</span>
        </span>

    </div>

