

<div id="Admin-Nav-DashBoard" class="Admin-Navigation-Menu-Cat">
    <div class="Admin-Navigation-Menu-Cat-Item">
       DASHBOARD
    </div>
</div>
<div id="Admin-Nav-Catalog" class="Admin-Navigation-Menu-Cat">
    <div class="Admin-Navigation-Menu-Cat-Item">
        CATALOG
    </div>
</div>
<div id="Admin-Nav-Customers" class="Admin-Navigation-Menu-Cat">
    <div class="Admin-Navigation-Menu-Cat-Item">
        CUSTOMERS
    </div>
</div>
<div id="Admin-Nav-Promotions" class="Admin-Navigation-Menu-Cat">
    <div class="Admin-Navigation-Menu-Cat-Item">
        PROMOTIONS
    </div>
</div>
<div id="Admin-Nav-Logout" class="Admin-Navigation-Menu-Cat">
    <div class="Admin-Navigation-Menu-Cat-Item">
        LOGOUT
    </div>
</div>