@model ProductViewModel


<div class="Products-Body">
    <div class="Product-Grid">

        <ul>
            @foreach (var product in Model.Products)
            {
                <li>
                    <img src="" />
                    <h3>@product.ProductName</h3>
                    <p>Price: @product.ProductPrice.ToString("c")</p>
                    <p>Description: @product.ProductDescription</p>
                    <a href="/" class="Product-Grid-Button">View</a>
                </li>
            }
        </ul>

    </div>
</div>

<div class="Products-Body-PageButton-Container">
    <div page-model="@Model.PageInfo" action-method="Index" page-classes-enabled="true"
         page-class="Products-Body-PageButton" page-class-selected="Products-Body-PageButton-Selected">
    </div>
</div>

