


<div class="Products-Body">
   <div class="Product-Grid">
       <ul>
           <li>
               <img src="" />
               <h3>Product Name</h3>
               <p>Price: 10.99</p>
               <a href="/" class="Product-Grid-Button">View Product</a>
           </li>
           <li>
               <img src="" />
               <h3>Product Name</h3>
               <p>Price: 10.99</p>
               <a href="/" class="Product-Grid-Button">View Product</a>
           </li>
           <li>
               <img src="" />
               <h3>Product Name</h3>
               <p>Price: 10.99</p>
               <a href="/" class="Product-Grid-Button">View Product</a>
           </li>
           <li>
               <img src="" />
               <h3>Product Name</h3>
               <p>Price: 10.99</p>
               <a href="/" class="Product-Grid-Button">View Product</a>
           </li>
           <li>
               <img src="" />
               <h3>Product Name</h3>
               <p>Price: 10.99</p>
               <a href="/" class="Product-Grid-Button">View Product</a>
           </li>
           <li>
               <img src="" />
               <h3>Product Name</h3>
               <p>Price: 10.99</p>
               <a href="/" class="Product-Grid-Button">View Product</a>
           </li>
       </ul>
   </div>
</div>
