@{
    Layout = "_AdminLayout";
}

@model PromotionDto

<form asp-controller="Admin" asp-action="Manage_Promotions" method="post">

    <div class="Manage-Promotions-Container">

        <div class="Manage-Promotions-Header">
            <label>Manage product promotions</label>
        </div>
        <div class="Manage-Promotions-Body">
            <div class="Manage-Promotions-Body-Name">
                <label for="PromotionName">Promotion text</label>
                <input id="PromotionName" type="text" asp-for="PromotionText"/>
            </div>
            <div class="Manage-Promotions-Body-PromotionCategory">
                <label>Promotion category</label>
                <select id="PromoCat" asp-for="OfferId">
                    @foreach (var promoCat in Model.PromotionCategories)
                    {
                        <option value="@promoCat.Offer.OfferId">@promoCat.Name</option>
                    }
                </select>

                <label class="PromotionCategory-Choise-Label">Promotion percent</label>
                <input id="PromotionCategory-Choise-Input" type="text" asp-for="PromotionPercent" />
            </div>
            <div class="Manage-Promotions-Body-Code">
                <label for="ProductCode">Product code</label>
                <input id="ProductCode" type="text" asp-for="PromotionCode"/>
            </div>
            <div class="Manage-Promotions-Body-PromotionType">
                <label>Promotion type</label>
                <select id="PromoType">
                    <option value="Product">Product</option>
                    <option value="ProductCat">Product category</option>
                </select>
            </div>
            <div id="ProductNameContainer" class="Manage-Promotions-Body-ProductName">
                <label for="productName">Product name</label>
                <input id="ProductNameContainer-Input" type="text" asp-for="ProductName"/>
            </div>
            <div id="ProductCategoryContainer" class="Manage-Promotions-Body-ProductCategory">
                <label for="productCategory">Product category</label>
                <select asp-for="ProductCategoryId">
                    @foreach(var promotion in Model.ProductCategories)
                    {
                        <option value="@promotion.ProductCategoryId">@promotion.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="Manage-Promotions-Btn-Container">
            <button type="submit">Save</button>
            <button type="button" asp-controller="Admin" asp-action="Index">Back</button>
        </div>

    </div>

</form>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $("document").ready(() => {

        $("#PromoType").click(() => {

            if ($("#PromoType").val() == "Product") {

                $("#ProductNameContainer").css("display", "block");
                $("#ProductCategoryContainer").css("display", "none");
            }
            else {
                $("#ProductNameContainer").css("display", "none");
                $("#ProductCategoryContainer").css("display", "block");
                $("#ProductNameContainer-Input").val("");
            }
        });

    });

</script>

