<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="Admin-Navigation-Menu-Container">
        <div class="Admin-Navigation-Menu">
            <vc:admin-navigation-menu />
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
