<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="Admin-Navigation-Menu-Container">
        <div class="Admin-Navigation-Menu">
            <vc:admin-navigation-menu />
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
